## Задача 1 Связанные списки
Напишите функцию (пусть онабудет называться reverse_linked_list), которая разворачивает связный список. На вход она принимает головную ноду, а на выход отдаёт хвостовую ноду исходного списка, но только теперь если попробовать пройтись по ней, она будет новой головной. С функцией из примера выше,

In [3]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"


def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next
        

# написанная функция
def reverse_linked_list(head):
    temp_head = None
    while head:
        head.next, head, temp_head = temp_head, head.next, head
    return temp_head

In [56]:
h, a, b, c, d = Node(1), Node(2), Node(3), Node(7), Node(5)

h.next = a
a.next = b
b.next = c
c.next = d

print_linked_list(h)

[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value 7]
[Node with value 5]

In [55]:
print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print_linked_list(h)

---

## Задача 2 Пузырьки
Сортировкой пузырьком это один из самых простейших алгоритмов сортировки, который можно придумать. В базовом виде он подразумеват вложенный цикл и реализуется как-то так

In [ ]:
l = [2, 4, 1, 1, 2, 0]

for i in range(len(l)):
    for j in range(i, len(l)):
        if l[i] > l[j]:
            l[i], l[j] = l[j], l[i]

print(l)

Вам предлагается написать функцию, которая будет на вход получать голову несортированного связного списка, а на выход возвращать голову отсортированного.

Подсказка: так как в задании ничего не сказано про то, как должна вести себя функция, можете считать что можно просто менять значения, которые лежат в нодах, без замены их указателей. Или можете написать вспомогательную функцию, которая будет менять две ноды местами.

Эта задачка вполне может показаться вам запутанной и сложной. Но я советую всё равно её решить.

Ну ладно. В общем, такого рода задачки это типичные задачки которые стоит порешать, если вы серьёзно хотите примерить на себя шляпу программиста. Там помимо таких конструкций как вот эти вот связные списки будет ещё много чего другого интересно, например бинарные деревья, куча и хэш-таблицы (и много чего другого). Решение задачек на обработку таких структур доставляет своё изощрённое удовольствие. Не отказываете себе в нём // DA

In [57]:
def bubble_sort_linked_list(head):
    tail = None
    while tail != head:
        i = head
        while i.next != tail:
            j = i.next
            if i.value > j.value:
                i.value, j.value = j.value, i.value
            i = i.next
        tail = i

bubble_sort_linked_list(h)
print_linked_list(h)

[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value 5]
[Node with value 7]

## Задача 3 Pandas

### 1) Выясните, сколько в среднем выходи полный счёт по пятницам на ланч у курящих мужчин (датасет tips)

In [12]:
import pandas as pd


tips_df = pd.read_csv("tips.csv")
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [23]:
tips_df['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [27]:
le_masque = tips_df['day'] == 'Fri'
le_masque &= tips_df['sex'] == 'Male'
le_masque &= tips_df['time'] == 'Lunch'
le_masque &= tips_df['smoker'] == 'Yes'

tips_df[le_masque]['total_bill'].mean()

11.386666666666668

### 2) Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)

In [29]:
iris_df = pd.read_csv("iris.csv")
iris_df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [31]:
# если разброс как дисперсия
iris_df.groupby('Name').var()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa         0.124249    0.145180     0.030106    0.011494
Iris-versicolor     0.266433    0.098469     0.220816    0.039106
Iris-virginica      0.404343    0.104004     0.304588    0.075433

In [35]:
# если разброс как разность максимального и минимального значения в столбце
minimals = iris_df.groupby('Name').min()
maximums = iris_df.groupby('Name').max()
print(maximums - minimals)

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa              1.5         2.1          0.9         0.5
Iris-versicolor          2.1         1.4          2.1         0.8
Iris-virginica           3.0         1.6          2.4         1.1

### 3) Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык

In [36]:
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })

In [40]:
df['density'] = df['population'] / df['square']
df

      country  population    square   density
0  Kazakhstan       17.04   2724902  0.000006
1      Russia      143.50  17125191  0.000008
2     Belarus        9.50    207600  0.000046
3     Ukraine       45.50    603628  0.000075

In [41]:
df.rename(columns={'country': 'страны', 'square': 'площадь'}, inplace=True)
df

       страны  population   площадь   density
0  Kazakhstan       17.04   2724902  0.000006
1      Russia      143.50  17125191  0.000008
2     Belarus        9.50    207600  0.000046
3     Ukraine       45.50    603628  0.000075